{% extends 'base.html' %}

{% block content %}


<div class="title_text">Words section menu</div>

<table class="table_wh">
    <tr>
        <td><a class="menu_item_wh" href="{% url 'words:list' %}">Words list</a></td>
    </tr>
    <tr>
        <td><a class="menu_item_wh" href="{% url 'words:create' %}">Create a word</a></td>
    </tr>
    <tr>
        <td><a class="menu_item_wh" href="{% url 'words:groups_list' %}">Groups list</a></td>
    </tr>
    <tr>
        <td><a class="menu_item_wh" href="{% url 'words:group_create' %}">Create a group</a></td>
    </tr>
    <tr>
        <td><a class="menu_item_wh" href="{% url 'words:tests_home'%}">Tests</a></td>
    </tr>
    <tr>
        <td><a class="menu_item_wh" href="{% url 'words:test_results' %}">Results</a></td>
    </tr>
</table>

{% endblock content %}

