{% extends 'base.html' %}
{% block content %}
{% load static%}


<div class="accordion">
    <button type="button" class="accordion_button_wl">Expand filter</button>
    <div class="accordion_content_wl" >
        <form action="" method="GET">
            <div class="inline_block_label_field">
                <div class="label_form filter_label">{{filter.form.word1.label}}</div>
                <div class="input_f_ input_ovr">{{filter.form.word1}}</div>
            </div>

            <div class="inline_block_label_field">
                <div class="label_form filter_label">{{filter.form.word2.label}}</div>
                <div class="input_f_ input_ovr">{{filter.form.word2}}</div>
            </div>


            <div class="inline_block_label_field">
                <div class="label_form filter_label">{{filter.form.score_gt.label}}</div>
                <div class="input_f_ input_ovr">{{filter.form.score_gt}}</div>
            </div>

            <div class="inline_block_label_field">
                <div class="label_form filter_label">{{filter.form.score_lt.label}}</div>
                <div class="input_f_ input_ovr">{{filter.form.score_lt}}</div>
            </div>

            <div class="inline_block_label_field">
                <div class="label_form filter_label">{{filter.form.order_by_asc_score.label}}</div>
                <div class="input_f_ ">{{filter.form.order_by_asc_score}}</div>
            </div>

            <br>

            <div class="inline_block_label_field" >
                <div class="label_form filter_label">{{filter.form.group.label}}</div>
                <div class="groups_choice group_choice_word_list">{{filter.form.group}}</div>
            </div>

            <div class="inline_block_label_field" >
                <input type="Submit" class='next_prev_buttons buttons_word_list' name="filter_button"
                       value="Search with filter">
                <a class="next_prev_buttons buttons_word_list" href="{% url 'words:list' %}">Reset
                    filter</a>
            </div>


        </form>

    </div>
</div>

<script>
    document.querySelectorAll('.accordion_button_wl').forEach(button =>{
        button.addEventListener('click', () => {
            const accordionContent = button.nextElementSibling;
            button.classList.toggle('accordion_button_wl-active');
            if (button.classList.contains('accordion_button_wl-active')){
                accordionContent.style.border = '1px solid black';
                accordionContent.style.maxHeight = accordionContent.scrollHeight + 'px';
            }
            else {
                accordionContent.style.maxHeight = 0;
                accordionContent.style.border = 'none';
            }
        });
    });



</script>


<form action="" method="POST">
    {% csrf_token %}

    <div class="table_wl">
        <table class="table_list">
            <tr>
                <th>Word 1</th>
                <th>Word 2</th>
                <th>&#128211;</th>
                <th  class="no_view">&#128064;</th>
                <th>&#9998;</th>
                <th  class="no_view">&#128465;</th>
                <th>&#10060;</th>
            </tr>

            {% for word in filter.qs %}
            <tr>
                <td>{{word.word1}}</td>
                <td>{{word.word2}}</td>
                <td>{{word.score}}</td>
                <td class="no_view"><a href="{% url 'words:single' uuid=word.id %}">View</a></td>
                <td><a href="{% url 'words:update' uuid=word.id %}">Update</a></td>
                <td class="no_view"><a onclick="checker()" href="{% url 'words:delete' uuid=word.id %}">Delete</a></td>
                <td><input type="Checkbox" name="checks" value="{{word.id}}"></td>
            </tr>
            {% endfor %}

        </table>
    </div>

    <div class="right_of_table">

        <div class="stats_wl label_">
            <div>AVG: {{ avg }}</div>
            <div>MAX: {{ max }}</div>
            <div>MIN: {{ min }}</div>
        </div>

        <div class="stats_wl label_" style="display:block; width:270px; margin-top:10px;">
            <div>TOTAL WORDS: {{ total }}</div>
        </div>

        <div style="color:red;">
            <a class='next_prev_buttons button_wl_table' href="{% url 'words:create' %}">Create a
                pair</a>
            <input class='next_prev_buttons button_wl_table' style="width:100%;" type="Submit" name="delete_button"
                   value="Delete chosen pairs" onclick="checker()">
        </div>


    </div>
</form>


{% endblock content %}
