{% extends 'base.html' %}
{% load static%}
<h1>List</h1>


{% block content %}

<form action="" method="GET">
    <table>
        {% for form in filter.form %}
        <tr>
            <td class="label_">{{form.label_tag}}</td>
        </tr>
        <tr>
            <td>{{form}}</td>
            {%endfor%}
        </tr>
    </table>
    <input type="Submit" class='next_prev_buttons' name="filter_button" value="Search">
</form>



<a href="{% url 'words:list' %}">Reset filter</a>


<hr>

<ul>
    <li>AVG: {{ avg }}</li>
    <li> MAX: {{ max }}</li>
    <li> MIN {{ min }}</li>
</ul>


<hr>
<form action="" method="POST">
    {% csrf_token %}

    <a href="{% url 'words:create' %}">Create a word</a>


    <input class='next_prev_buttons' type="Submit" name="delete_button" value="Delete chosen words"></td>


    <table class="table_list">
        <tr>
            <th>Word1</th>
            <th>Word2</th>
            <th>Score</th>
            <th>View</th>
            <th>Update</th>
            <th>Delete</th>
            <th>Checkbox</th>
        </tr>

        {% if user.is_authenticated %}


        {% for word in filter.qs %}
        <tr>
            <td>{{word.word1}}</td>
            <td>{{word.word2}}</td>
            <td>{{word.score}}</td>
            <td><a href="{% url 'words:single' uuid=word.id %}">View</a></td>
            <td><a href="{% url 'words:update' uuid=word.id %}">Update</a></td>
            <td><a href="{% url 'words:delete' uuid=word.id %}">Delete</a></td>
            <td><input type="Checkbox" name="checks" value="{{word.id}}"></td>
        <tr>

            {% endfor %}

            {% endif %}

    </table>
</form>


{% endblock content %}