{% extends 'base.html' %}

{% block content %}

<div class="title_text" style="margin-bottom:40px;">Group of words: {{group_obj.name}}</div>
<a class="next_prev_buttons" style="display:block; margin-right:auto; margin-left:auto; margin-top:10px; width:200px;"
   href="{% url 'words:group_update' uuid=group_obj.id %}">Update group</a>
<table class="table_list table_results" style="margin-right:auto; margin-left:auto; margin-top:25px;">

    <tr>
        <th>Word1</th>
        <th>Word2</th>
        <th>&#128211;</th>
        <th>&#128064;</th>
        <th>&#9998;</th>
        <th>&#128465;</th>

    </tr>

    {% if user.is_authenticated %}


    {% for word in words %}
    <tr>
        <td>{{word.word1}}</td>
        <td>{{word.word2}}</td>
        <td>{{word.score}}</td>
        <td><a href="{% url 'words:single' uuid=word.id %}">View</a></td>
        <td><a href="{% url 'words:update' uuid=word.id %}">Update</a></td>
        <td><a href="{% url 'words:delete' uuid=word.id %}">Delete</a></td>

    <tr>
        {% endfor %}

        {% endif %}

</table>
{% endblock %}