{% extends 'base.html' %}

{% block content %}
{% load static %}

{% if type == 'create' %}
<p class="title_text">Word creation</p>
<!--<script src="{% static 'words/js/test_script.js' %}"></script>-->
{% else %}
<p class="title_text">Word update</p>
{% endif %}

<form action="" method="POST">
    {% csrf_token %}

    <table class="center">

        <tr>
            <td class="label_">Word 1</td>
            <td class="label_">Word 2</td>
        </tr>

        <tr>
            {% for field in form %}
            <td>
                {% if field.name != 'groups' %}
                <div class="input_f_">{{ field }}</div>
                {% endif %}
            </td>
            {% endfor %}
        </tr>

        <tr>
            <td>

                <p class="label_">Groups</p>
                {% if no_groups %}
                     <a class='next_prev_buttons buttons_word_list' href="{% url 'words:group_create' %}">No groups yet, create a group</a>
                {% else %}
                <div class="groups_choice">{{form.groups}}</div>
                {% endif %}
            </td>

            <td>
                <div class="buttons_wc">
                    {% if type == 'create' %}
                    <input onclick="checker()" class='next_prev_buttons buttons_word_list' type="submit" value="Create a word">
                    {% else %}
                    <input class='next_prev_buttons buttons_word_list' type="submit" value="Update">
                    {% endif %}

                    <a class='next_prev_buttons buttons_word_list' href="{% url 'words:list' %}">Words list</a>
                </div>
            </td>

        </tr>

    </table>


</form>
<!--<style>-->
<!--    .errorlist {-->
<!--    color:red;}-->
<!--</style>-->
<!--<form ALIGN='center' action="" method="POST">-->
<!--    {% csrf_token %}-->
<!--    {{ form.as_p }}-->
<!--    <input class='next_prev_buttons' type="submit" value="Create">-->
<!--</form>-->


{% endblock %}