{% extends 'base.html' %}

{% block content %}
{% load static %}

{% if type == 'create' %}
<p class="title_text">Word creation</p>
{% else %}
<p class="title_text">Word update</p>
{% endif %}

<form action="" method="POST">
    {% csrf_token %}
    <table class="table_wc">
        <tr>
            <td class="label_form">Word 1</td>
            <td class="label_form">Word 2</td>
        </tr>
        <tr>
            <td>
                <div class="input_f_">{{ form.word1 }}</div>
            </td>
            <td>
                <div class="input_f_">{{ form.word2 }}</div>
            </td>
        </tr>
    </table>

    <div class="groups_wc">
        <div class="buttons_wc_container">
            <p class="label_form">Groups</p>
            {% if no_groups %}
            <a class='next_prev_buttons buttons_wc' href="{% url 'words:group_create' %}">No groups yet, create
                a group</a>
            {% else %}
            <div class="groups_choice">{{form.groups}}</div>
            {% endif %}
        </div>
    </div>


    <div class="td_wc_groups">
        <div class="td_wc_buttons">
            <div class="buttons_wc_container">
                {% if type == 'create' %}
                <input class='next_prev_buttons buttons_wc' style="margin-bottom:20px;" type="submit" value="Create a word">
                {% else %}
                <input class='next_prev_buttons buttons_wc' style="margin-bottom:20px;" type="submit" value="Update">
                {% endif %}

                <a class='next_prev_buttons buttons_wc' href="{% url 'words:list' %}">Words list</a>
            </div>
        </div>
    </div>



</form>


{% endblock %}