<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    <meta charset="UTF-8">
    <title>Learn Helper</title>
    <link rel="stylesheet" type="text/css" href="{% static '/words/css/buttons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/words/css/alerts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/st.css' %}">

    <script src="{% static 'words/js/scripts_ws.js' %}"></script>

</head>
<body>

{% include "navbar.html" %}
{% block tittle %}
{% endblock %}
{% include 'messages.html' %}
{% block content %}
{% endblock %}

</body>
</html>