{%extends 'base.html'%}
{% load static %}
{%block content%}

<div class="title_text">Contacts</div>
<table class="table_contacts">
    <tr class="">
        <td class="no_view">Email:</td>
        <td><a class="contact_line" href="mailto:yt.kostolom@gmail.com?subject=">yt.kostolom@gmail.com</a></td>
    </tr>
    <tr>
        <td class="no_view">Github:</td>
        <td><a class="contact_line" href="https://github.com/kokkinn" target="_blank"
               rel="noopener noreferrer">https://github.com/kokkinn</a></td>
    </tr>
    <tr>
        <td class="no_view">LinkedIn:</td>
        <td><a class="contact_line" href="https://www.linkedin.com/in/kokkinn/" target="_blank" rel="noopener noreferrer">https://www.linkedin.com/in/kokkinn/</a>
        </td>
    </tr>

</table>

{% endblock %}
