{%extends 'base.html'%}
{% load static %}
{%block content%}


<div class="title_text">Words Learn Helper</div>
<div class="textbox_in">
    Hi, welcome to the application which provides an opportunity to study foreign language faster. It has three
    logical sections:
    <br><br>1. <span style="font-weight:bold; font-size:25px;">Pairs list, Pair creation</span> - you can make a pair of
    two words which is a main unit to be studied, <span style="font-weight:bold; color:#faa911; background:black; opacity:0.8;">intended to treat</span> it as a <span
        style="font-weight:bold; color:#1017e0; background--color:#e6a8a8">word</span> and it's <span
        style="font-weight:bold; color:#1bb343; background--color:#e6a8a8">translation</span>.
    <br><br>2. <span style="font-weight:bold; font-size:25px;">Groups list, Group creation</span> - a way to join
    multiple pairs by some category.
    <br><br>3. <span style="font-weight:bold; font-size:25px;">Tests, Results</span> - check a knowledge of pairs you've
    created. Test can be started if at least one pair is present.
</div>

<table class="table_wh">
    <tr>
        <td><a class="menu_item_wh" href="{% url 'words:home' %}">Words section</a>
        </td>
    </tr>
    <tr>
        <td><a class="menu_item_wh" href="{% url 'accounts:profile' %}">Profile</a></td>
    </tr>
    <tr>
        <td><a class="menu_item_wh" href="https://github.com/kokkinn/django_LH_web" target="_blank"
               rel="noopener noreferrer"><span style="margin-right:10px;">GitHub</span><img
                src="{% static '25231.png' %}" width="33px"></a></td>
    </tr>
    <tr>
        <td><a class="menu_item_wh" href="{% url 'contacts' %}">Contacts</a></td>
    </tr>
</table>


{%endblock%}