<div id="notification-area">
</div>


{% for message in messages %}
<script type="text/javascript" language="JavaScript">
    notifySuccess('{{message}}');

</script>
{% endfor %}

{% if form.errors %}
{% for field in form %}
{% for error in field.errors %}
<script type="text/javascript">
    notifyError('{{error}}');

</script>
{% endfor %}
{% endfor %}
{% endif %}

{% if form.non_field_errors %}
<script type="text/javascript" language="JavaScript">
    notifyError('{{form.non_field_errors}}');

</script>

{% endif %}


<!--{% if messages or form %}-->
<!--{% for field in form %}-->
<!--{{ field.errors }}-->
<!--{% endfor %}-->
<!--{% for message in messages %}-->
<!--{{ message }}-->
<!--{% endfor %}-->
<!--{% else %}-->
<!--<p></p>-->
<!--{% endif %}-->

<!--<hr>-->