#notification-area {
  position:fixed;
  right:5px;
  width:250px;
  top:80px;
}
#notification-area .notification {
  position:relative;
  padding:15px 15px;
  margin:5px;
  color:white;
  font-size:20px;
  font-weight:400;
  border-radius:5px;
  opacity:-10;
  left:30px;
  animation:showNotification 800ms ease-in-out forwards;
  box-shadow: 10px 0 orange;

}
@keyframes showNotification {
  to {
    opacity:1;
    left:0px;

  }
}
#notification-area .notification.success {
  background:green;
  box-shadow: 10px 0px skyblue;
}
#notification-area .notification.error {
  background:darkred;
}
#notification-area .notification.info {
  background:#00acee;
}



