* {
  font-family:"Raleway";
}
#notification-area {
  position:fixed;
  top:0px;
  right:10px;
  width:250px;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
}
#notification-area .notification {
  position:relative;
  padding:15px 10px;
  background:#111;
  color:white;
  font-family:Optima;
  font-size:20px;
  font-weight:400;
  border-radius:5px;
  margin:530px 15px;
  opacity:0;

  left:20px;
  animation:showNotification 500ms ease-in-out forwards;


   box-shadow: 10px 0px orange;

}
@keyframes showNotification {
  to {
    opacity:1;
    left:0px;

  }
}
#notification-area .notification.success {
  background:green;
  box-shadow: 10px 0px skyblue;
}
#notification-area .notification.error {
  background:darkred;
}
#notification-area .notification.info {
  background:#00acee;
}