* {
    font-family: Optima;
}

body{
    margin-top:0px;
}
.next_prev_buttons {
    background-color:aliceblue;
    color:black;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    display:block;
    width:200px;
    height:40px;
    border-radius:3px;
    border-color:black;
    border-style:solid;
    border-width:thin;
    cursor:pointer;
    font-weight:bold;
    font-size:20px;
    line-height:40px;
    text-align:center;
    transition: color 0.5s, opacity 1s;
    text-decoration:none;
    }

.buttons_wc{
    margin: 5px 0px 0px 0px;
}

.buttons_wc_container{
    display:inline-block;

}

.td_wc_buttons{
    vertical-align:bottom;
    text-align:center;

}

.td_wc_groups{
    vertical-align:top;
    text-align:center;

}
.buttons_word_list{
    margin-left:10px;
    margin-bottom:0px;
    margin-top:10px;
}
    .next_prev_buttons:hover {
    color:firebrick;
        opacity:2;
    }

    .next_prev_buttons:active {
    color:green;
    }

.accordion_button_wl{
    display:block;
    color:black;
    font-weight:bold;
    height:60px;
    width:100%;
    padding: 15px;
    margin:1px;
    border-style:solid;
    border-width:thin;
    border-color:black;
    cursor:pointer;
    font-size:20px;
    background: aliceblue;
    text-align:center;
    transition: background: 0.4s;
}

.accordion_button_wl::after{
    content: '\25b2';
    float:right;
}

.accordion_button_wl-active{
    background:floralwhite;

}

.accordion_button_wl-active::after{
    content: '\25bc';
}

.accordion_content_wl{
    overflow:hidden;
    max-height: 0px;
    transition: max-height 0.2s;
    background:lavenderblush;
}

.accordion{
    margin-top:10px;
}



    .input_ {

    }

    .label_form{
    font-family: Optima;
    font-size: 30px;
    line-height: 30px;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 1px;
    vertical-align:top;


    }

    .input_f_ input, select{
    font-family: Optima;
        background-color:aliceblue;
        color:firebrick;
        border-radius:3px;
        cursor:text;
        border-width: thin;
        border-color:black;
        border-style:solid;
        text-align:left;
        text-color:red;
        font-size: 20px;
        margin: 15px;
        display: block;
        height: 30px;


    }

    .td{
        padding: 0px, 15px;
    }

.groups_choice div[id="id_group"], div[id="id_groups"], div[id='id_words']{
    font-family: Optima;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: firebrick;


    width: auto;
    border-color:black;
    border-style:solid;

    cursor:pointer;
     border-width: thin;
    }

.center{
    margin-left: auto;
    margin-right: auto;



}

hr{
    border-top: 1px solid black;
}

td{
    font-size: 18px;
    font-family: Optima;
}



.table_list {
    border:none;
    border-collapse: collapse;
}

.table_list td {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    padding: 8px;
}

.table_list td:first-child {
  width: 100px;
  }

.table_list td:nth-child(2) {
  width: 100px;

  }

.table_list td:nth-child(3) {
  width: 30px;
  text-align:center;
  }

.table_list th {
    border-top: 3px solid #000;
    padding-top: 10px;
    font-size: 20px;
    padding-bottom: 5px;

}



.tet{
    font-size: 16px
}

.inline_block_label_field{
    display:inline-block;
    margin-bottom:0px;
    padding-bottom:0px;
    vertical-align: bottom;
    text-align:left;
}


.input_ovr input, select{
        font-size: 15px;
        color: black;
        height: 20px;
        align:left;
        margin-left: 0px;
        margin-top: 0px;
        width:150px;
        background-color:white;

}

.filter_label{
    color:black;
    font-size: 18px;
    display:inline-block;

    }

.group_choice_word_list div[id='id_group']{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align:left;
    width:auto;
    vertical-align:bottom;
}





.filter_form{
    display:block;
}

.stats_wl{
    margin-left: 40px;
    margin-top: 20px;
    border-color:black;
    border-style:solid;
    text-align:left;
    border-width:thin;
    display:inline-block;
    font-size:25px;
}

.table_wl{
    display:inline-block;
    margin-top:50px;

}

.table_buttons{
    display:inline-block;
    margin-left:40px;
    margin-top:50px;
}

.imgt{
    width:500px;
    padding-top: 10px;


}

.imgr{
    display:inline-block;
}

.right_of_table{
     display:inline-block;
     vertical-align:top;

}


    .title_text {
    font-family: Optima;
    font-size: 70px;
    line-height: 0px;
    height: 0px;
    font-weight: solid;
    text-align: center;
    margin: 50px;
    }

.input_ovr2 input, select{
    margin:0px 0px 0px 20px;
    padding:0px;
    margin-bottom:10px;

}

.cell{
    vertical-align:top;

}






.label_gc{
    text-align: left;
    padding-right: 100px;
    padding:0px;

}

.button_line input{
    margin-top: 10px;
    margin-left:574px;

    }

.navbar{
    background:ghostwhite;
    height:auto;
    border-style:solid;
    display:block;
}

.navbar_el{
    margin: 5px 5px 5px 5px;
    display:inline-block;
    vertical-align:middle;
    margin-bottom:0px;
    margin-top:0px;

}

.navbar_right{
    display:inline-block;
    width:auto;
    border:solid;
    border-color:red;
    width:500px;
    vertical-align:middle;
    cursor:pointer;



}

.navbar_left{

    display:inline-block;
    border:solid;
    border-color:red;
    width:500px;
    margin-right:200px;
}

.navbar_button{
    color: black;
    background:none;
    text-decoration:none;
    font-size:20px;
    background:aliceblue;
    border-style:solid;
}

.navbar_logo{
    margin-right:30px;
    margin-left:30px;
    padding-left:20px;
    padding-right:20px;
    border-style:solid;
    font-weight:bold;
    font-color:white;
    cursor:pointer;
    border-color:firebrick;

}

.registration_form{
    display:inline-block;
      text-align:right;

}

.label_form_reg{
    vertical-align:middle;

}

.label_field_comb{
    margin-bottom:10px;

}