.table_wh td {
    padding: 10px;
    white-space: nowrap;
}

.menu_item_wh {
    color: black;
    text-decoration: none;
    font-size: 40px;
    transition: color 0.1s;
    border: red;
    padding: 5px 10px;
    text-align: center;
    width: 100%;
    font-weight: bold;
    /*white-space: nowrap;*/
}

.menu_item_wh:hover {
    background-color: rgba(255, 226, 41, 0.84);
}

.menu_item_wh:active {
    color: firebrick;

}

.nav-menu-flex-block {
    display: flex;
    flex-direction: column;
    border-right: black solid;
    row-gap: 20px;
    border-left: black solid;
    width: auto;
    padding: 0 60px;
}



@media only screen and (max-width: 768px) {
    .nav-menu-flex-block {
        padding: 0;
        width: 100%;
    }
}
