{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Change password
{% endblock %}

{% block content %}

    <div class="base-title">Change your password</div>
    <form method="post">
        {% csrf_token %}
        <table class="table_pc">
            <tr>
                <td class="base-form-label">{{ form.old_password.label_tag }}</td>
                <td class="base-text-input">{{ form.old_password }}</td>
            </tr>
            <tr>
                <td class="base-form-label">{{ form.new_password1.label_tag }}</td>
                <td class="base-text-input">{{ form.new_password1 }}</td>
            </tr>
            <tr>
                <td class="base-form-label">{{ form.new_password2.label_tag }}</td>
                <td class="base-text-input">{{ form.new_password2 }}</td>
            </tr>
        </table>
        <button type="submit" style='margin-right:auto; margin-left:auto; width:200px; margin-top:20px;'
                class="base-button">Change
        </button>
    </form>




{% endblock %}