{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
Password reset
{% endblock %}

{% block content %}
<div class="text-center" style="">
    <div class="title_text">Password Reset Form</div>
    <h2 style="width: 100%; margin-right:auto; margin-left:auto; display:block; text-align:center;">
        Please enter your new password.
    </h2>
</div>
<br/>
<form action="" method="POST">
    {% csrf_token %}
    <table style="margin-right:auto; margin-left:auto">
        <tr>
            <td style='display:inline-block;' class="label_form">{{ form.new_password1.label_tag }}</td>
            <td class="input_f_">{{ form.new_password1 }}</td>
        </tr>
        <tr>
            <td style='display:inline-block;' class="label_form">{{ form.new_password2.label_tag }}</td>
            <td class="input_f_">{{ form.new_password2 }}</td>
        </tr>
    </table>
    <input class="next_prev_buttons" style="margin-right:auto; margin-left:auto; width:200px; margin-top:20px;"
           type="submit" value="Reset Password"/>
</form>
{% endblock %}