{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Password reset
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="title_text">Reset your password</div>
            <form method="post" style="text-align:center;">
                {% csrf_token %}
                <div style='display:inline-block;' class="label_form">{{ form.email.label_tag }}</div>
                <div style='display:inline-block;' class="input_main">{{ form.email }}</div>
                <button type="submit" class="button_main" style="margin-right:auto; margin-left:auto; width:200px; margin-top:20px;">Reset</button>
            </form>
        </div>
    </div>
{% endblock %}