{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/auth.css' %}">
{% endblock head %}
{% block content %}
    <div class="" style="display: flex; justify-content: center; align-items: center; border: black ">
        <div class="pr-block" style="width: 400px">
            <div style="border: black ; width: auto; display: flex; justify-content: center;  align-items: center">
                We’ve emailed you instructions for setting your password, if an account exists with the email you
                entered.
                You should receive them shortly.
            </div>
            <br>
            <div style="">
                If you don’t receive an email, please make sure you’ve entered the address you registered with, and
                check
                your spam folder.
            </div>
        </div>
    </div>
    {#    <div class="text-center">#}
    {#        <a class="base-button" style='margin-right:auto; margin-left:auto; width:200px; margin-top:20px;' href="{% url 'index' %}">Return to home page</a>#}
    {#    </div>#}
{% endblock %}