{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
Change password
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <div class="title_text">Change your password</div>
        <form method="post">
            {% csrf_token %}
            <table style="margin-right:auto; margin-left:auto">
                <tr>
                    <td style='display:inline-block;' class="label_form">{{ form.old_password.label_tag }}</td>
                    <td class="input_f_">{{ form.old_password }}</td>
                </tr>
                <tr>
                    <td style='display:inline-block;' class="label_form">{{ form.new_password1.label_tag }}</td>
                    <td class="input_f_">{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td style='display:inline-block;' class="label_form">{{ form.new_password2.label_tag }}</td>
                    <td class="input_f_">{{ form.new_password2 }}</td>
                </tr>
            </table>
            <button type="submit" style='margin-right:auto; margin-left:auto; width:200px; margin-top:20px;' class="next_prev_buttons">Change</button>
        </form>
    </div>
</div>
{% endblock %}