{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Password reset
{% endblock %}

{% block content %}
    <div class="" style="border: black ; display: flex; justify-content: center">
        <div class=""
             style=" border:  black ; width: auto; display: flex; flex-direction: column; justify-content: center; align-items: center">
            <div class="base-title" style="">Reset your password</div>
            <div style="width: 70%; font-size: 15px; margin-bottom: 20px">A letter with instructions will be sent to the
                Email address you
                type in
            </div>
            <form method="post"
                  style="display: flex; flex-direction: column; border: black ; width: 100%; justify-content: center">
                {% csrf_token %}
                <div style="">
                    <div style='' class="base-text-input">{{ form.email }}</div>
                    <button type="submit" class="base-button"
                            style="margin-right:auto; margin-left:auto; width:100%; margin-top:20px;">Reset
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}