{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Change password
{% endblock %}


{% block content %}
   <div class="text-center" style="width: 100%; text-align:center;">
        <h1>Password reset complete</h1>
        <h3 style="width: 60%; margin: 0 auto">
            Your password was changed
        </h3>
    </div>
    <br/>
    <div class="text-center">
        <a style='margin-right:auto; margin-left:auto; width:200px; margin-top:10px;' class='base-button' href="{% url 'accounts:profile' %}">Profile</a>
    </div>
{% endblock %}