{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
Change password
{% endblock %}

{% block content %}

<div class="title_text">Change your password</div>
<form method="post">
    {% csrf_token %}
    <table class="table_pc">
        <tr>
            <td class="label_form">{{ form.old_password.label_tag }}</td>
            <td class="input_main">{{ form.old_password }}</td>
        </tr>
        <tr>
            <td class="label_form">{{ form.new_password1.label_tag }}</td>
            <td class="input_main">{{ form.new_password1 }}</td>
        </tr>
        <tr>
            <td class="label_form">{{ form.new_password2.label_tag }}</td>
            <td class="input_main">{{ form.new_password2 }}</td>
        </tr>
    </table>
    <button type="submit" style='margin-right:auto; margin-left:auto; width:200px; margin-top:20px;'
            class="button_main">Change
    </button>
</form>

{% endblock %}