* {
    /*font-family: FreeMono, monospace;*/
    /*font-family: Courier New, sans-serif;*/
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
    transition: color 0.7s, background-color 0.7s;

}

body {
    /*background-color: #EEEEEE;*/
    background-image: url('../IMG_8139 (3).PNG');
    background-size: 500px;
    opacity: 1;
}

@media only screen and (max-width: 768px) {

    .width-90{
        width: 90%; !important;
    }
}

/*input:-webkit-autofill,*/
/*input:-webkit-autofill:focus {*/
/*    transition: background-color 600000s 0s, color 600000s 0s;*/
/*}*/

.base-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    /*word-break: break-word;*/
    text-align: center;
}

.base-form-label {
    text-wrap: none;
    width: auto;
    font-size: 25px;
    padding: 10px 0;
    /*padding-bottom: 10px;*/
    /*text-align: center;*/
    /*vertical-align: middle;*/
}


.base-text-input input {
    background-color: #e2e6ea;
    color: black;
    padding: 5px;
    /*border-radius: 3px;*/
    cursor: text;
    border-width: thin;
    border-color: black;
    border-style: solid;
    font-size: 20px;
    width: 100%;
    border-radius: 4px;
    /*width: 100%;*/
}

a {
    color: black;
}

.base-a {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    width: 100%;
    border: black solid thin;
    background-color: black;
    color: goldenrod;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    height: auto;
    display: block;
    border-radius: 4px;
    /*margin: 0 10px;*/
}

.base-a:hover {
    color: yellow;
}

.base-button {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    font-weight: bold;
    font-size: 20px;
    transition: color 0.5s, opacity 1s, background-color 0.5s;
    text-decoration: none;
    color: black;
    background-color: gold;
    border: black solid thin;
    cursor: pointer;
    padding: 10px;
    display: block;
    width: 100%;
    text-align: center;
    /*height: 35px;*/
    border-radius: 4px;
    /*margin: 0 10px;*/
}

.base-button:hover {
    background-color: darkorange;
}

.base-choice div[id="id_group"], div[id="id_groups"], div[id='id_words'], .base-select select {
    /*text-align: right;*/
    /*color: black;*/
    cursor: pointer;
    /*padding: 3px;*/
    /*margin: 5px;*/
    /*border: black solid thin;*/
    /*width: auto;*/
    width: 100%;
}

div[id="id_groups"] div:hover {
    background-color: gold;
}

div[id="id_words"] div:hover {
    background-color: gold;
}

.base-obj-list {
    font-size: 24px;
    color: black;
    text-decoration: none;
    width: 100%;
    transition: background-color 0.05s ease-in-out;
    padding: 10px 10px;
}

.base-obj-list:hover {
    background-color: #ffd700;
    /*border: black solid;*/
}