{% extends "base.html" %}

{% block content %}

<div class="title_text">Test for group {{group_obj.name}}</div>

{% if for_wX == 1 %}
<div class="label_form">Translation of '{{word_obj.word1}}' is ...</div>
{% endif %}
{% if for_wX == 2 %}
<div class="label_form">Translation of '{{word_obj.word2}}' is ...</div>
{% endif %}

<form action="" method="POST">
    <input type="hidden" id="" name="word_obj" value="{{word_obj.id}}">
    {% csrf_token %}
    <div style="text-align:center;">
        <div class="input_main input_test" style="margin-top:20px;">{{form.input_word}}</div>
        <input class='button_main button_test' type="Submit" value="Go">
    </div>
</form>
<a class="back_test" href="{% url 'words:tests_home' %}">Back to tests home</a>

{% endblock %}