{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'words/css/words-list.css' %}">
{% endblock head %}

{% block content %}


    <div class="base-form-label" style="margin-top:15px; text-align: center">Result for {{ result.date }}</div>

    <p>
    <table class="wl-table" style="margin-right:auto; margin-left:auto; margin-top:25px;">
        <tr>
            <th>Pair</th>
            <th>Input</th>
            <th>Is correct</th>
        </tr>

        {% for res in fnl_res_4test_words %}
            <tr>
                {#                {% for val in res.values %}#}
                <td>{{ res.pair }}</td>
                <td>{{ res.user_input }}</td>
                <td>{{ res.is_correct }}</td>
                {#                {% endfor %}#}
            </tr>
        {% endfor %}
    </table>
{% endblock %}