{% extends "base.html" %}

{% block content %}

    <div class="outer-block-flex-center">
        <div class="">
            <div class="base-form-label" style="text-align:center; margin-top:50px;">
                Provide a translation for '{{ word2examine }}' ...
            </div>

            <form action="" method="POST" class="">
                {% csrf_token %}

                <div style="text-align:center; display: flex; flex-direction: column; ">
                    <div class="base-text-input"
                         style="margin: 20px 0; width: 100%">{{ form.input_word }}</div>
                    <input class='base-button' type="Submit" value="Go" style="width: 100%">
                </div>
            </form>
            <div style="display: flex; justify-content: center">
                <a class="back_test" href="{% url 'words:tests_home' %}">Back to tests home</a>
            </div>
        </div>
    </div>
{% endblock content %}