{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
Update profile
{% endblock %}

{% block header %}
Update profile
{% endblock %}

{% block content %}


<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
  <img src="{{ user.avatar.url }}" width="80px" class="image_profile"/>

    <table class="table_profile">
        <tr>
            <td>
                <div class="label_form label_form_profile">Username:</div>
            </td>
            <td>
                <div class="input_f_ input_profile">{{ form.username }}</div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="label_form label_form_profile">Email:</div>
            </td>
            <td>
                <div class="input_f_ input_profile">{{ form.email }}</div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="label_form label_form_profile">Name:</div>
            </td>
            <td>
                <div class="input_f_ input_profile">{{ form.first_name }}</div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="label_form label_form_profile">Surname:</div>
            </td>
            <td>
                <div class="input_f_ input_profile">{{ form.last_name }}</div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="label_form label_form_profile">Birthday:</div>
            </td>
            <td>
                <div class="input_f_ input_profile">{{ form.birthday }}</div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="label_form label_form_profile">City:</div>
            </td>
            <td>
                <div class="input_f_ input_profile" >{{ form.city }}</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="label_form label_form_profile">Avatar:</div>
            </td>
            <td>
                <div style="">{{ form.avatar }}</div>
            </td>
        </tr>
    </table>



    <input class="next_prev_buttons buttons_profile" type="submit" value="Save">
    <a class="next_prev_buttons buttons_profile" href="{% url 'accounts:profile' %}">Cancel</a>
</form>
{% endblock %}
