{% extends 'base.html' %}

{% load static %}


{% block content %}


<img src="{{ user.avatar.url }}" width="80px" class="image_profile"/>
<table class="table_profile">
    <tr>
        <td>
            <div class="label_form label_form_profile">Username:</div>
        </td>
        <td>
            <div class="label_form label_form_profile">{{ user.username }}</div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="label_form label_form_profile">Email:</div>
        </td>
        <td>
            <div class="label_form label_form_profile">{{ user.email }}</div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="label_form label_form_profile">Name:</div>
        </td>
        <td>
            {% if user.first_name %}
            <div class="label_form label_form_profile">{{ user.first_name }}</div>
            {% else %}
            <div class="label_form label_form_profile">None</div>
            {% endif %}
        </td>
    </tr>

    <tr>
        <td>
            <div class="label_form label_form_profile">Surname:</div>
        </td>
        <td>
            {% if user.last_name %}
            <div class="label_form label_form_profile">{{ user.last_name }}</div>
            {% else %}
            <div class="label_form label_form_profile">None</div>
            {% endif %}

        </td>
    </tr>

    <tr>
        <td>
            <div class="label_form label_form_profile">Birthday:</div>
        </td>
        <td>
            <div class="label_form label_form_profile">{{ user.birthday }}</div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="label_form label_form_profile">City:</div>
        </td>
        <td>
            <div class="label_form label_form_profile">{{ user.city }}</div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="label_form label_form_profile">Avatar:</div>
        </td>
        <td>
            <div class="label_form label_form_profile">{{ user.avatar }}</div>
        </td>
    </tr>
</table>
{% if user.is_activated == 0 %}
<span style="font-size:19px; text-align: center; display:block; margin-top:15px;"><strong>Note</strong>, you can't change anything in your profile, except email, until you account is activated.</span>
{% endif %}
<a class="button_main buttons_profile" href="{% url 'accounts:profile_change' %}">Change profile</a>
{% if user.is_activated == 0 %}

<a class="button_main buttons_profile" id="bb" style="width:190px;"
   href="{% url 'accounts:activation_email_confirmation' %}" onclick="">Activate
    account</a>
{% endif %}

<script>
    const el = document.getElementById('bb');
    const email = '{{ email }}';
    el.addEventListener('click', () => {
            message =  `Send activation letter to ${email} ?`
            var result = confirm(message);
            if(result == false){
                event.preventDefault()
            }
    }
    )

</script>
{% endblock %}







