{% extends 'base.html' %}

{% load static %}


{% block content %}


    <div style="display: flex; justify-content: center; border: black ">
        <div style="border: black ; display: flex; flex-direction: column; align-items: center">
            <table class="table_profile" style="margin-top: 20px; margin-bottom: 10px; width: 400px">
                <tr>
                    <td>
                        <div class="">Username:</div>
                    </td>
                    <td>
                        <div class="">{{ user.username }}</div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="">Email:</div>
                    </td>
                    <td>
                        {% if user.email %}
                            <div class="">{{ user.email }}</div>
                        {% else %}
                            <div class="">None</div>
                        {% endif %}

                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="">Name:</div>
                    </td>
                    <td>
                        {% if user.first_name %}
                            <div class="">{{ user.first_name }}</div>
                        {% else %}
                            <div class="">None</div>
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="">Surname:</div>
                    </td>
                    <td>
                        {% if user.last_name %}
                            <div class="">{{ user.last_name }}</div>
                        {% else %}
                            <div class="">None</div>
                        {% endif %}

                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="">Birthday:</div>
                    </td>
                    <td>
                        <div class="">{{ user.birthday }}</div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="">City:</div>
                    </td>
                    <td>
                        <div class="">{{ user.city }}</div>
                    </td>
                </tr>
            </table>


            {% if user.is_activated == 0 %}
                <div style="border: black ; width: 400px">
                    <span
                        style="font-size:15px; display:block; margin-top:15px; margin-bottom: 20px;"><strong>Note</strong>, you cannot change anything in your profile, except email, until your account is activated.</span>
                </div>
            {% endif %}
            <div style="display: flex; flex-direction: column; width: 100%">
                <a class="base-button" style="margin: 10px 0;" href="{% url 'accounts:profile_change' %}">Change
                    profile</a>
                <a class="base-button" style="margin: 10px 0;" href="{% url 'password_change' %}">Change
                    password</a>
                {% if user.is_activated == 0 %}
                    <a class="base-button" id="bb" style="margin: 10px 0;"
                       href="{% url 'accounts:activation_email_confirmation' %}" onclick="">Activate
                        account</a>
                {% endif %}
            </div>

        </div>
    </div>



    <script>
        const el = document.getElementById('bb');
        const email = '{{ email }}';
        el.addEventListener('click', () => {
                message = `Send activation letter to ${email} ?`
                var result = confirm(message);
                if (result == false) {
                    event.preventDefault()
                }
            }
        )

    </script>
{% endblock %}







