{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block header %}

{% endblock %}

{% block content %}
<div class="title_text">Registration</div>
<form method="post">
    {% csrf_token %}

        <table class="table_registration">
            {% for field in form %}
            <tr>
                <td class="label_form" style="">{{field.label_tag}}</td>
                <td class="input_main" style="">{{field}}</td>
            </tr>
            {% endfor %}
        </table>

    <div style="margin-top:40px;"><input class="button_main buttons_log_reg" type="submit" value="Register"></div>
</form>
{% endblock %}
